@if (content) {
  <div class="my-12 px-5 sm:px-0 flex flex-col sm:flex-row gap-8">
    <div class="image">
      <a [routerLink]="[content.link]">
        @if (content.image) {
          <img [src]="content.image" alt="{{ content.title }}" class="content-tile-image">
        }
        @else {
          <app-content-tile-image-placeholder></app-content-tile-image-placeholder>
        }
      </a>
    </div>

    <div>
      <h3 class="title">
        <a [routerLink]="[content.link]" class="body-color">{{ content.title }}</a>
      </h3>

      <div class="my-3 excerpt low-opacity-text">
        {{ content.excerpt }}
      </div>

      <div class="utilities uppercase low-opacity-text">
        @if (content.date) {
          <div>
            {{ formatDate(content.date) }}
          </div>
        }
      </div>
    </div>
  </div>
}
